<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
    <title>Jorge(Joker) - Resume</title>
</head>
<body>
    <div class="container">
        <!-- Header Section -->
        <div class="header">
            <h1>Jorge Guimarães Martins</h1>
            <p>Cybersecurity | Developer</p>
        </div>

        <!-- Main Content -->
        <div class="content">
            <!-- About Section -->
            <div class="section">
                <h2 class="section-title">About Me</h2>
                <p>Experienced in Python, Flask, and JavaScript, with a solid foundation in web development and programming. Skilled in designing and building dynamic web applications, with expertise in backend development using Python and Flask, complemented by front-end proficiency in JavaScript. Familiar with creating efficient, user-friendly applications, and adept at integrating various technologies to meet project requirements.
                <br />
Additionally, I have foundational knowledge in cybersecurity, specifically in web application penetration testing. I am able to identify and explore common vulnerabilities, applying security best practices to enhance the resilience of web applications. This combination of development and security skills allows me to approach projects with both functionality and security in mind.</p>
            </div>

            <!-- Skills Section -->
            <div class="section">
                <h2 class="section-title">Skills</h2>
                <div class="skills">
                    <div class="skill">Python</div>
                    <div class="skill">Web Hacking</div>
                    <div class="skill">Flask</div>
                    <div class="skill">JavaScript</div>
                    <div class="skill">SQL</div>
                </div>
            </div>

            <!-- Experience Section -->
            <div class="section">
                <h2 class="section-title">Experience</h2>
                <p>Secretary at a advocracy (2022 - 2024)</p>
            </div>

            <!-- Call to Action Section -->
            <div class="cta">
                <button>Download Resume</button>
                <p>Looking forward to discussing how I can add value to your team.</p>
            </div>
        </div>
    </div>
</body>
</html>

