<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
</head>
<body>
  <div class="container">
    <header class="header">
      <h1>Jorge Guimarães Martins</h1>
      <p> Developer | Cybersecurity Enthusiast</p>
    </header>
    
    <section class="contact">
      <h2>Contact Information</h2>
      <ul>
        <li><strong>Email:</strong> jorgeguimaraes.ware@gmail.com</li>
        <li><strong>Phone:</strong> +55 (63)985008102 </li>
        <li><strong>Website:</strong> www.johndoe.dev</li>
      </ul>
    </section>
    
    <section class="profile">
      <h2>Profile</h2>
        <p>Experienced in Python, Flask, and JavaScript, with a solid foundation in web development and programming. Skilled in designing and building dynamic web applications, with expertise in backend development using Python and Flask, complemented by front-end proficiency in JavaScript. Familiar with creating efficient, user-friendly applications, and adept at integrating various technologies to meet project requirements.
                <br />
Additionally, I have foundational knowledge in cybersecurity, specifically in web application penetration testing. I am able to identify and explore common vulnerabilities, applying security best practices to enhance the resilience of web applications. This combination of development and security skills allows me to approach projects with both functionality and security in mind.</p>
  </section>
    
    <section class="skills">
      <h2>Skills</h2>
      <ul>
        <li>JavaScrip</li>
        <li>Python (Flask)</li>
        <li>HTML, CSS</li>
        <li>SQL</li>
        <li>Cybersecurity (Penetration Testing, Web Application Security)</li>
        <li>Version Control (Git, GitHub)</li>
      </ul>
    </section>
    
    <section class="experience">
      <h2>Experience</h2>
      <div class="job">
        <h3>Secretary</h3>
        <p><strong>Advocracy</strong> | 2022 - 2024</p>
        <ul>
          <li>I working with writing documents and service</li>
        </ul>
      </div>
  </div>
</body>
</html>
